p {
    color: rgb(93, 93, 93);
}

.textp2 {
    color: #ffffff;
}

.textnav {
    color:rgb(29, 29, 146);
}

.clase1 {
    font-size: 2vw;
}

.clase2 {
    font-family: "Kdam Thmor Pro", sans-serif;
}

.clase3 {
    font-family: "Montserrat", sans-serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.recursotxt {
    text-shadow: 1px 1px 30px #ffffff;
}

.recursotxt2 {
    text-shadow: 1px 1px 0px rgb(27, 27, 134);
}

.recursotxt3 {
    color: #ffffff;
}